<div class="dock dock-yellow">
  <!-- Home -->
  <%= link_to root_path do %>
    <i class="fa-solid fa-house size-[1.2em]"></i>
    <span class="dock-label">Home</span>
  <% end %>

  <!-- Profile / Auth -->
  <% if current_user %>
    <%= link_to user_path(current_user) do %>
      <i class="fa-solid fa-chart-simple size-[1.2em]"></i>
      <span class="dock-label">Stats</span>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g fill="currentColor">
          <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4S8 5.79 8 8s1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
        </g>
      </svg>
      <span class="dock-label">Sign in</span>
    <% end %>
  <% end %>

  <!-- Settings (always shown) -->
  <% if current_user %>
    <%= link_to settings_user_path(current_user) do %>
      <i class="fa-solid fa-gear size-[1.2em]"></i>
      <span class="dock-label">Settings</span>
    <% end %>
  <% end %>
</div>
