<div class="flex flex-col items-center justify-center mb-6">
  <button id="end-round-btn"
    class="btn btn-lg btn-primary w-64 mb-2 text-xl"
    data-action="<%= edit_action %>"
    data-round-number="<%= current_round.round_number || round.round_number %>"
    data-round-id="<%= current_round.id || round.id %>">
    End Round
  </button>
</div>
