<div class="flex justify-center gap-4 mt-8">
  <a href="<%= new_game_session_path(game_id: @scoresheet.game_session.game.id) %>" class="btn btn-primary">Play again</a>
  <a href="<%= root_path %>" class="btn btn-outline">Back to home</a>
</div>
